

.articles-introduction {
  margin-bottom: 30px;
  text-align: justify;
  font-size: 14px;

}

.articles-list {
  list-style-type: none;

}


.articles-list li {

  font-family: arial;
  
  text-decoration: underline; 
  color: black;
 
  margin-bottom: 6px;

}

.articles-list li a:hover {
  color: #828282;

}




