
.articles-page {
  margin: 50px 50px;
  max-width: 62%;
  text-align: justify;
  font-size: 15px;

  background-color: rgb(255, 255, 255);
  padding: 30px;

}

@media (max-width: 768px) {
  .articles-page {
    max-width: 100%;

  }
}

.articles-page h3 {
  margin-bottom: 10px;
}





.back-button {
  margin-top: 20px;

}

.back-button a {

  text-decoration: underline; 
  color: black;
  font-size: 15px;
  
  }



.back-button a:hover {
  color: #828282;

}